table {
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  border: 2px solid blue;
}

.c4_board td {
   background-color: white;
  height: 120px;
  width: 120px;
  background-size: 120px 120px;
  border: 2px solid blue;
  border-radius: 50%;
}

.c4_board td.yellow {
  background-color: black;
 background-size: 120px 120px;
 background-image: url("hulk.png");
}

.c4_board td.red {
 background-color: black;
background-size: 120px 120px;
background-image: url("iron.png");
}

div#statusBanner {
  margin-left: auto;
  margin-right: auto;
  height:50px;
  width: 900px;
  border: 2px solid black;
  color: green;
  text-align: center;
  font-size: 250%;
}

h1 {
text-align: center;
color:#B00722;
font-family: helvetica;
}
